// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
  padding: 0;
  background-color: #3681c7;
  ul {
    margin: 0;
    padding: 2% 0 0 0;
    height: 38px;
    li{
      display: inline;	/* Располагаем элементы по горизонтали */
      list-style: none;	/* Убираем маркеры списка */
      padding: 5px;		/* Поля вокруг текста */
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}
.content{
  margin: 0 auto;
  width: 795px;
  height: 100%;
  position: relative;
  .row {
    width: 100%;
    display: table;
    .col-6 {
      width: 50%;
      display: table-cell;
      float: left;
      //padding: 5px;
    }
    .col-4 {
      width: 25%;
      display: table-cell;
      float: left;
    }
    .col-8 {
      width: 75%;
      display: table-cell;
      float: left;
    }
    .col-off-1{
      left: 8.33333%;
    }

  }
}
img.prof_img{
  width: 100%;
  //margin: 8px;
}
footer{
  bottom: 0;
}